.hero {
  overflow: auto;
  min-height: 500px;
  height: 100%;
  background: transparent url('/static/images/food-wallpaper.jpg');
  background-size: cover;

}
.hero-title, .hero-subtitle {
  text-align: center;
  color: $white;
  text-shadow: 1px 2px 7px $black;
}

.hero-title {
  margin-top: 8rem;
  font-size: 5rem;
}
.hero-subtitle {
  margin-top: 4rem;
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.5;
}