.restaurant-page__avatar {
  float: right;
  width: 200px;
  margin-left: 2rem;
}
.restaurant-page__avatar-pic {
  background-size: cover;
  background-position: 50% 50%;
  transition: all 0.2s ease-in-out;
  height: 200px;
  width: 100%;
}
.restaurant-page__gallery {
  
}
.restaurant-page__gallery-pic {
  transition: all 0.2s ease-in-out;
  height: 200px;
  width: 25%;
  float: left;
  background-size: cover;
  background-position: 50% 50%;
  cursor: pointer;
  position: relative;
  &:hover {
    background-size: 130%;
    &:after {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
  &:after {
      display: block;
      content: " ";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0);
  }
}
@media (max-width: $screen-md-min) {
  .restaurant-page__gallery-pic {
    width: 33.3333333%;
  }
}
@media (max-width: $screen-sm-min) {
  .restaurant-page__avatar {
    width: 100%;
    float: none;
    margin: 1rem 0;
  }
  .restaurant-page__gallery-pic {
    width: 50%;
  }
}

@media (max-width: $screen-xs-min) {
  .restaurant-page__gallery-pic {
    width: 100%;
    height: auto;
    margin: 0 0 2rem 0;
  }
  .restaurant-page__gallery-pic {
    width: 100%;
    height: 300px;
  }

}