@mixin gutter-creator($position, $size, $media: "", $gutterType: "margin") {
  $postfix: if($media != "", "-#{$media}", "");
  $positionExp: if($position == "all", "", "-#{$position}");
  $sizeExp: str-replace($size, ".", "");

  .#{$gutterType}#{$positionExp}-#{$sizeExp}x#{$postfix} {
    #{$gutterType}#{$positionExp}: #{$size}rem;
  }
}
@mixin all-gutters($size, $media, $gutterType) {
  @include gutter-creator(all, $size, $media, $gutterType);
  @include gutter-creator(top, $size, $media, $gutterType);
  @include gutter-creator(bottom, $size, $media, $gutterType);
  @include gutter-creator(left, $size, $media, $gutterType);
  @include gutter-creator(right, $size, $media, $gutterType);
}
@mixin media-gutters($media: "", $gutterType: "margin") {
  @for $index from 0 through 5 {
    @include all-gutters("#{$index}", $media, $gutterType);
  }
  @include all-gutters("0.5", $media, $gutterType);
}

@include media-gutters();
@include media-gutters(xs);

@include media-gutters("", "padding");

@media (min-width: $screen-sm-min) {
  @include media-gutters(sm);
}
@media (min-width: $screen-md-min) {
  @include media-gutters(md);
}
@media (min-width: $screen-lg-min) {
  @include media-gutters(lg);
}

